<form id="agreedocsform" method="post" action="{{myurl}}">
    <input type="hidden" name="sesskey" value="{{sesskey}}">

<div class="clearfix">
    <div class="pull-left">
        <h2>{{# str }}pluginname, local_revoke_consent{{/ str }}</h2>
    </div>
</div>

<hr>


{{#policies}}

<div class="agreedoc-policy clearfix m-t-2 m-b-1">
    <h3>{{{name}}}</h3>
    <div class="agreedoc-content">
        <div class="agreedoc-summary m-b-2">
          {{{summary}}}
        </div>
        <div class="agreedoc-msg">
            {{# str }}refertofullpolicytext, tool_policy, {{{policymodal}}} {{/ str }}
        </div>
        <div class="agreedoc-form m-t-1">
            <div class="agreedoc-checkbox">
                <label>
                    <input value="{{id}}" name="agreedoc[]" {{#versionagreed}}checked="{{.}}"{{/versionagreed}} type="checkbox">
                    <strong>{{# str }}iagree, tool_policy, {{{name}}} {{/ str }}</strong>
                    <i class="icon fa fa-exclamation-circle text-danger fa-fw" title="{{# str }} required {{/ str }}" ></i>
                </label>
            </div>
            <ul class="agreedoc-msg list-unstyled">
                    {{#versionlangsagreed}}
                        <li><small>{{{.}}}</small></li>
                    {{/versionlangsagreed}}
                    {{#versionbehalfsagreed}}
                        <li><small>{{{.}}}</small></li>
                    {{/versionbehalfsagreed}}
            </ul>
        </div>
    </div>
</div>

{{/policies}}

{{# str }}somefieldsrequired, form, <i class="icon fa fa-exclamation-circle text-danger fa-fw" title="{{# str }} required {{/ str }}" ></i>{{/ str }}
<hr>
<div class="revokeconsent_info py-1">
    <i class="icon fa fa-info-circle text-info fa-fw" aria-hidden="true"></i>
    {{#str}} revokeconsent_info, local_revoke_consent {{/str}}
</div>
<input type="submit" class="btn btn-primary" name="submit" value={{#quote}}{{#str}} next {{/str}}{{/quote}}>
{{#cancancel}}
<input type="submit" class="btn btn-secondary" name="cancel" value={{#quote}}{{#str}} cancel {{/str}}{{/quote}}>
{{/cancancel}}
</form>

{{#js}}
// Initialise the JS for the modal window which displays the policy versions.
require(['tool_policy/policyactions'], function(ActionsMod) {
    ActionsMod.init();
});
{{/js}}
